<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
	<p>{{ site.description }}</p>
	<button id="theme-toggle">Toggle Dark Mode</button>
    </header>
    <section class="hero">
        <div class="hero-content">
	    <h1>Welcome to my Portfolio</h1>
	    <p>An insight to my projects and skills</p>
	    <a href="/projects" class="cta-button">View projects</a>
	</div>
	</section>
    <nav>
        <ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="/about">About</a></li>
	    <li><a href="/projects">Projects</a></li>
	</ul>
    </nav>
    <main>
	{{ content }}
    </main>
    <footer>
	<p>Contact me at <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
    </footer>
    <script src="/assets/js/script.js"></script>
</body>
</html>
